{% extends "blog/base.html" %}
{% block content %}
<br/><br/><br/><br/><br/><br/>

     <table>
       <tr>
         <td rowspan="300"><p><img src="" width=500pxx ></p></td>
		 <td colspan="200" width=100 height=100><h1><h1></td>
	     <td colspan="200" width=800 height=800><h1>Dedicated Book Collector<br /><br />

As an enthusiastic Book Collector, there no better feeling than the thrill of finally getting my hands on an item I have been trying to add to my collection. Its why I have spent so much time and energy on building it up. What began as just a fun hobby has turned into a real passion; one I know I am going to keep on enjoying and sharing.

<br />Learn More<h1></td>


	  </tr>
     </table>
{% endblock content %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    {% if title %}-->

<!--           <title>Django Blog -{{title}}</title>-->
<!--    {% else %}-->
<!--           <title>Django Blog</title>-->
<!--    {% endif %}-->
<!--</head>-->
<!--<body>-->
<!--<h1>himanshu</h1>-->
<!--</body>-->
<!--</html>-->